@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/buttons";

@mixin btn ($pd){
    @extend .btn; 

    border-radius: 0;
    padding: $pd;
    
}

.btn-default-loja{
    @extend .btn-outline-light;
    @include btn(8px 20px);
    background: rgba(255, 255, 255, 0.3);
}

.btn-conteudo-dark{
    @extend .btn-dark;
    @include btn(8px 40px);
}

.btn-conteudo-outline-dark{
    @extend .btn-outline-dark;
    @include btn(8px 40px);
}